<navbar></navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <div class="card cards" style="width: 100%">
            <div class="tiles" id="transactions">
              <p><i class="fa fa-credit-card fa-5x tile-icon" aria-hidden="true"></i></p>
              <p class="tile-primary"> Transactions: {{total}} </p>
              <p class="tile-secondary" (innerText)="inc"> Incoming: {{inc}} {{currencyIf}}</p>
              <p class="tile-secondary" (innerText)="out"> Outgoing: {{out}} {{currencyIf}}</p>
            </div>
            <div class="card-body" style="align-content: center;">
              <h5 class="card-title">Transactions this {{selectedTimeframe}}</h5>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card cards" style="width: 100%" (mouseover)="changeColor(true)" (mouseout)="changeColor(false)">
            <div class="tiles" id="balance"  [style.background]="balancecolor">
              <p><i class="fa fa-balance-scale fa-5x  tile-icon" aria-hidden="true"></i></p>
              <br>
              <p class="tile-primary"> Balance: {{balance}} {{currency}} </p>
              <p class="tile-secondary"> Compared to last {{selectedTimeframe}}: {{comparedToLast}} {{currency}}
                <i class="fa fa-caret-up" aria-hidden="true" *ngIf="profit" style="color:green"></i>
                <i class="fa fa-caret-down" aria-hidden="true" *ngIf="!profit" style="color:red"></i>
              </p>
            </div>
            <div class="card-body" style="align-content: center;">
              <h5 class="card-title">Current balance</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card cards" style="width: 100%">
            <div class="tiles" id="options">
              <p><i class="fa fa-cogs fa-5x  tile-icon" aria-hidden="true"></i></p>
              <p class="tile-primary"> Time period of reference:
                <mat-form-field>
                  <mat-select [(value)]="selectedTimeframe" (selectionChange)="changeTimeFrame()">
                    <mat-option *ngFor="let time of times" value="{{time}}">
                      {{time}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                &nbsp;&nbsp;Default currency: 
                <mat-form-field>
                  <mat-select [(value)]="selectedCurrencyCode" (selectionChange)="changeCurrencyCode()">
                    <mat-option *ngFor="let currency of currencies" value="{{currency}}">
                      {{currency}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
              <p class="tile-primary toggle-enabled"> Show amounts instead of numbers.&nbsp;
                <mat-slide-toggle color="primary" [([(ngModel)]="isAmountsToggled" (change)="changeOptions($event)">
                </mat-slide-toggle>
              </p>

            </div>
            <div class="card-body" style="align-content: center;">
              <h5 class="card-title">Report options</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 card cards">
      <dashboard-doughnut-chart class="tiles" style="background-color: #ffffff;"></dashboard-doughnut-chart>
      <div class="card-body" style="align-content: center;">
        <h5 class="card-title">Statistics per category of transaction</h5>
      </div>
    </div>
  </div>
</div>