.tiles {
  margin: 10px 10px 10px 10px;
  border: 1px solid #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  color: #ffffff;
  min-height: 250px;
}

.tile-icon {
  text-align: center;
}

.tile-primary {
  font-size: large;
  font-weight: bolder;
  text-align: left;
}

.tile-secondary {
  font-size: medium;
  font-weight: bold;
  text-align: left;
}

.cards {
  text-align: center;
}

h5 {
  padding-top: 10px;
}

#options {
  background-color: #918c81;
}
.cards:hover > #options {
  background-color: #bfb9ac;
}

#transactions {
  background-color: #0e699e;
}
.cards:hover > #transactions {
  background-color: #5694b8;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
