.tiles {
    margin: 10px 10px 10px 10px;
    border: 1px solid #000000;
    background-color: #94a0c4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    color: #ffffff;
    min-height: 250px;
}

.tile-icon {
    text-align: center;
}

.tile-primary {
    font-size: large;
    font-weight: bolder;
    text-align: left;
}

.tile-secondary {
    font-size: medium;
    font-weight: bold;
    text-align: left;
}

.cards {
    text-align: center;
}

.nav-link {
    color: #94a0c4;
}

.nav-link:hover {
    color: #4e629d;
}