<div class="container-fluid">
    <div class="row" style="background-image:url('/assets/cards.jpg')">
      <div class="col-sm-1">
        <img id="logo" src="/assets/icon.png" style="width:150px;">
      </div>
      <div class="col-sm-8">
        <h1 class="text-left" style="padding-top: 5%;color:white; text-shadow: 2px 2px #000000;">
          <span class="badge badge-pill badge-dark">X-PULSE</span>
          <i> - Tracking the pulse of your transactions.</i>
        </h1>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>