th, td {
    vertical-align: middle!important;
}
thead {
    border-top: hidden;
}

.modal-footer {
    border-top: 0px!important;
}

.inputreadonly {
    border-bottom: 1px solid #ced4da!important;
}