<navbar></navbar>
<div class="container">
  <div class="row">
    <h1>myXPulse: Manage my profile</h1>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">username: </th>
          <td>{{user.username}}</td>
          <td>
              <button type="button" class="btn btn-info"  (click)="changeUsername()">Change username</button> &nbsp;
              <button type="button" class="btn btn-warning"  (click)="changePassword()">Change password</button>
          </td>
        </tr>
        <tr>
          <th scope="row">First Name: </th>
          <td>{{user.firstname}}</td>
          <td>
            <button type="button" class="btn btn-outline-success" (click)="editFirstName()">Edit</button>
          </td>
        </tr>
        <tr>
          <th scope="row">Last Name: </th>
          <td>{{user.lastname}}</td>
          <td>
            <button type="button" class="btn btn-outline-success" (click)="editLastName()">Edit</button>
          </td>
        </tr>
        <tr [ngClass]="{
          'table-secondary': user.role == 'Regular',
          'table-info': user.role == 'VIP',
          'table-primary': user.role == 'Administrator',
          'table-danger': user.role == 'Owner',
          'table-default': user.role == null}">
          <th scope="row">Role</th>
          <td>{{user.role}}</td>
          <td>
            <button *ngIf="user.role == 'Regular'" type="button"  class="btn btn-success">Upgrade to VIP</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>